@charset "utf-8";
/* CSS Document */
body {font-family: "宋体"; font-size: 12px; margin:0px; padding:0px; color:#333; background:#ffffff;}
*{ margin:0px; padding:0px;}
ul,li {list-style-type:none; text-transform:capitalize; margin:0px; padding:0px;}
a {text-decoration:none;}
img {border:0px;}
td tr th table{padding:0px;}

.clear{ clear:both;}










/*****************************************************************公用部分结束*********************************************************************/

.top{width:987px; height:153px; background:url(../images/topbg.png) no-repeat; margin:0 auto;}
.logo{padding-top:43px; padding-left:36px; width:242px; height:94px; background:url(../images/logobg.png) no-repeat right ; float:left;}
.logoleft{width:708px; height:153px; float:left;}
.zhongshu{padding-left:80px; padding-top:45px; width:125px; height:31px; font-size:30px; font-family:"Arial Black", Gadget, sans-serif; font-weight:bold; color:#333;  }
.kehu{padding-top:55px; padding-left:443px; width:262px; height:18px;}
.kehu ul{width:262px; height:16px;}
.kehu ul li{padding-left:10px; float:left; font-size:14px; color:#825358;}
.kehu ul li a{ font-size:14px; color:#825358;}
.kehu ul li a:hover{ text-decoration:underline;}
/*****************************************************************top头部*********************************************************************/

.nav{ height:60px; background:url(../images/navbg.png) repeat-x; margin:0 auto;}
.navcontent{width:987px; height:55px; margin:0 auto;}
.navcontent ul{ padding-top:6px;  height:47px; margin:0 auto; }
.navcontent ul li {width:89px; height:48px;}
.navdaohang{width:89px; height:48px; float:left;}
.navcontent ul a:hover ul li{ font-size:16px; color:#4b4b4b;}
.navcontent ul a:hover ul li p{ font-size:10px; color:#4b4b4b;}
.navcontent ul li ul li{width:89px; height:20px; font-size:16px; color:#CCC; font-weight:bold; text-align:center;}
.navcontent ul li ul li a{ font-size:16px; color:#CCC;}
.navcontent ul li ul li a:hover{ font-size:16px; color:#4b4b4b;}
.navcontent ul li ul li p { font-size:10px;  color:#CCC; text-align:center; font-weight:normal; line-height:10px;}
.navcontent ul li ul li p a:hover{ font-size:10px; color:#4b4b4b;}
.dangqianwei{width:265px; height:23px; float:left; padding-left:5px; padding-top:12px;}
.dangqianwei a{ font-size:13px; color:#666; padding-right:5px;padding-left:5px;}
.dangqianwei a:hover{ font-size:13px; color:#000000; text-decoration:underline;}
/*****************************************************************导航*********************************************************************/

.recommended{width:987px; height:40px; margin:0 auto;}
.recommendedmark{width:270px; height:35px; background:url(../images/recommendmark.jpg) no-repeat; float:left;}
.search{width:630px; height:35px; padding-left:87px;float:left;}
.search form{width:310px; padding-top:12px; height:27px; text-align:center; float:left;}
.search form select{width:102px; float:left; padding-left:1px; padding-top:1px; }
.inputkuang{width:320px; height:28px; padding-top:10px;float:left;}
.search input{float:left; width:230px; height:23px; text-align:center; float:left;}
.recommendlunbo{width:987px; height:393px; background:#FF0; margin:auto;}
.hotpicgundong{ width:980px; height:393px; margin:auto; border:#CCC solid 1px;}
#featured {
	BORDER-BOTTOM: #ddd 1px solid; float:left; BORDER-LEFT: #ddd 1px solid; WIDTH: 690px; HEIGHT: 393px; OVERFLOW: hidden; BORDER-TOP: #ddd 1px solid; BORDER-RIGHT: #ddd 1px solid
 }
#featured .word {
	Z-INDEX: 10; POSITION: absolute; PADDING-BOTTOM: 5px; LINE-HEIGHT: 16px; PADDING-LEFT: 5px; WIDTH: 610px; BOTTOM: 0px; PADDING-RIGHT: 5px; BACKGROUND: #222; HEIGHT: 32px; COLOR: #fff; PADDING-TOP: 5px; LEFT: 0px
}
#featured .word H3 {
	HEIGHT: 16px; FONT-SIZE: 13px; OVERFLOW: hidden
}
#thumbs {
	WIDTH:260px; HEIGHT:360px; float:left; text-align:center; padding-left:10px;}

#thumbs ul LI {
	WIDTH: 270px; DISPLAY: inline;   text-align:center; 
}
#thumbs UL {
  height:360px; width:270px; text-align:center;
}
#thumbs LI.last_img {
	MARGIN-RIGHT: 4px
}
#thumbs LI.first { text-align:center; WIDTH: 20px; HEIGHT: 50px; CURSOR: pointer
}
#thumbs LI.last {
	
	 WIDTH: 20px; HEIGHT: 13px; CURSOR: pointer
}
#thumbs LI A {
	DISPLAY: block; border:#CCC 1px solid;
}
#thumbs LI A:hover {
	BORDER-BOTTOM: #9c3 1px solid; BORDER-LEFT: #9c3 1px solid; BORDER-TOP: #9c3 1px solid; BORDER-RIGHT: #9c3 1px solid
}
#thumbs LI A.current {
	BORDER:#F93 1px solid;}


A {
	
}
:focus {
	OUTLINE-STYLE: none; OUTLINE-COLOR: invert; OUTLINE-WIDTH: 0px
}
LABEL {
	CURSOR: pointer
}
IMG {
	VERTICAL-ALIGN: middle
}
TABLE {
	BORDER-SPACING: 0; BORDER-COLLAPSE: collapse; EMPTY-CELLS: show
}
H1 {
	FONT-SIZE: 16px
}
H2 {
	FONT-SIZE: 14px
}
H3 {
	FONT-SIZE: 14px
}
H4 {
	FONT-SIZE: 14px
}
H5 {
	FONT-SIZE: 12px
}
H6 {
	FONT-SIZE: 12px
}
ABBR {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; FONT-VARIANT: normal; BORDER-TOP: 0px; BORDER-RIGHT: 0px
}
ACRONYM {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; FONT-VARIANT: normal; BORDER-TOP: 0px; BORDER-RIGHT: 0px
}
ADDRESS {
	FONT-STYLE: normal; FONT-WEIGHT: normal
}
CAPTION {
	FONT-STYLE: normal; FONT-WEIGHT: normal
}
CITE {
	FONT-STYLE: normal; FONT-WEIGHT: normal
}
CODE {
	FONT-STYLE: normal; FONT-WEIGHT: normal
}
DFN {
	FONT-STYLE: normal; FONT-WEIGHT: normal
}
EM {
	FONT-STYLE: normal; FONT-WEIGHT: normal
}
TH {
	FONT-STYLE: normal; FONT-WEIGHT: normal
}
VAR {
	FONT-STYLE: normal; FONT-WEIGHT: normal
}
OPTGROUP {
	FONT-STYLE: normal; FONT-WEIGHT: normal
}
INPUT {
	FONT-STYLE: inherit; FONT-FAMILY: inherit; FONT-SIZE: inherit; FONT-WEIGHT: inherit
}
BUTTON {
	FONT-STYLE: inherit; FONT-FAMILY: inherit; FONT-SIZE: inherit; FONT-WEIGHT: inherit
}
TEXTAREA {
	FONT-STYLE: inherit; FONT-FAMILY: inherit; FONT-SIZE: inherit; FONT-WEIGHT: inherit
}
SELECT {
	FONT-STYLE: inherit; FONT-FAMILY: inherit; FONT-SIZE: inherit; FONT-WEIGHT: inherit
}
OPTGROUP {
	FONT-STYLE: inherit; FONT-FAMILY: inherit; FONT-SIZE: inherit; FONT-WEIGHT: inherit
}
OPTION {
	FONT-STYLE: inherit; FONT-FAMILY: inherit; FONT-SIZE: inherit; FONT-WEIGHT: inherit
}
INPUT {
	
}
BUTTON {
	
}
TEXTAREA {
	
}
SELECT {
	
}
A {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; BORDER-TOP: 0px; BORDER-RIGHT: 0px
}
IMG {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; BORDER-TOP: 0px; BORDER-RIGHT: 0px
}
A {
	COLOR: #5e5e5e; TEXT-DECORATION: none
}
A:visited {
	COLOR: #5e5e5e; TEXT-DECORATION: none
}
A:hover {
	COLOR: #4183c4; TEXT-DECORATION: underline
}
.clear {
	LINE-HEIGHT: 0; DISPLAY: block; HEIGHT: 0px; CLEAR: both; FONT-SIZE: 0px; OVERFLOW: hidden
}
.clearfix:after {
	DISPLAY: block; HEIGHT: 0px; VISIBILITY: hidden; CLEAR: both; CONTENT: "."
}
.clearfix {
	DISPLAY: inline-table
}
.clearfix {
	DISPLAY: block
}
* + HTML .clearfix {
	MIN-HEIGHT: 1%
}
BODY {
	FONT: 12px/180% Arial, Lucida, Verdana, "宋体", Helvetica, sans-serif; BACKGROUND: #fff; COLOR: #333
}
.shortcut {
	Z-INDEX: 9999; POSITION: fixed; WIDTH: 100%; TOP: 0px; LEFT: 0px
}
.shortcut {
	BORDER-BOTTOM: #dddddd 1px solid; LINE-HEIGHT: 28px; TEXT-TRANSFORM: uppercase; BACKGROUND: #eeeeee; HEIGHT: 28px; FONT-SIZE: 12px; box-shadow: 1px 0px 2px rgba(0, 0, 0, 0.2)
}
.shortcut H1 {
	FONT-FAMILY: "微软雅黑", "宋体"; FONT-SIZE: 14px
}
.shortcut A {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; DISPLAY: block; FLOAT: left; LETTER-SPACING: 1px; COLOR: #333; PADDING-TOP: 0px; text-shadow: 0px 1px 1px #fff
}
.shortcut H1 {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; DISPLAY: block; FLOAT: left; LETTER-SPACING: 1px; COLOR: #333; PADDING-TOP: 0px; text-shadow: 0px 1px 1px #fff
}
.shortcut A:hover {
	BACKGROUND: #fff
}
.shortcut SPAN.right {
	FLOAT: right
}
.shortcut SPAN.right A {
	DISPLAY: block; FLOAT: left; COLOR: #ff6600; FONT-WEIGHT: 800
}
.headeline {
	HEIGHT: 40px; OVERFLOW: hidden
}
.adv960x90 {
	BORDER-BOTTOM: #e6e6e6 1px solid; BORDER-LEFT: #e6e6e6 1px solid; MARGIN: 0px auto; WIDTH: 960px; HEIGHT: 90px; OVERFLOW: hidden; BORDER-TOP: #e6e6e6 1px solid; BORDER-RIGHT: #e6e6e6 1px solid
}
.adv728x90 {
	BORDER-BOTTOM: #e6e6e6 1px solid; BORDER-LEFT: #e6e6e6 1px solid; MARGIN: 0px auto; WIDTH: 728px; HEIGHT: 90px; OVERFLOW: hidden; BORDER-TOP: #e6e6e6 1px solid; BORDER-RIGHT: #e6e6e6 1px solid
}

/*****************************************************************当月推荐*********************************************************************/

.hot{width:987px; height:37px; margin:auto; padding-top:10px;}
.hotmark{ width:176px; height:37px; background:url(../images/hotmark.jpg); float:left;}
.hotnav{width:682px;height:37px; padding-left:112px;float:left;}
.hotnav ul{
	padding-top:7px;
	width:682px;
	height:30px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #8d2a2a;}
.hotnav ul li{width:85px; height:30px; float:left; text-align: center; line-height:30px;}	
.hotnav ul li a{ font-size:20px; color:#333; text-align:center;}

.hotnav ul li a:hover{font-family:"黑体"; color:#FFF; text-decoration:none;}
.fbg{width:97px; height:30px; background:url(../images/fenleifbg.jpg);}

.indexhotmor{margin:auto; width:986px; height:37px;}
.indexhotmore{ margin:0 auto; width:79px; height:37px; padding-right:15px; float:right; line-height:37px;}
.indexhotmore a{ font-size:14px; color:#ad1f2d;}
.indexhotmore a:hover{text-decoration:underline;}
.hotpic{width:987px; margin:0 auto;}
.hotpicl{width:987px;margin:0 auto;}
.hotpicl ul{ text-align:center; float:left; text-align:center;}
.hotpicl ul li{width:121px; height:170px; float:left; text-align:center; padding-left:20px;}
.hotpicimg{width:103px; height:136px; text-align:center; border:1px solid #CCC; padding:2px;}
.hotpicming{ width:109px; height:30px; text-align:center;}
.hotpicjuli{border:1px solid #CCC; padding:2px; text-align:center;}
.Classifiedmark{width:987px; height:35px; margin:0 auto; padding-top:15px; background:url(../images/classifiedmark.jpg) no-repeat left bottom;}
.Classifiedmarkxian{ width:706px; height:12px; line-height:35px; padding-left:284px; padding-top:23px;}
.Classified{width:987px; height:530px; margin:0 auto; padding-top:18px;}



.Classified ul li{ float:left; width:80px; height:55px; text-align:center;}


.Classified ul li a{ font-size:14px; color:#8a4343;}

.Classified ul li p a{ font-size:14px; color:#aa8080;}





.foot{height:139px; background:url(../images/footbg.png) repeat-x;margin:0 auto;}
.footcontect{width:230px; height:16px; padding-top:20px; margin:0 auto; font-size:14px; color:#555555;}
.footcontect a{ font-size:14px; color:#555555; padding-left:8px; padding-right:8px;}
.footbeian{width:900px; padding-top:15px; height:16px; text-align:center;font-size:14px; color:#555555; margin:auto;}

.class1{float:left; width:240px; height:262px; border-right:1px solid #CCC;}
.class2{float:left; width:240px; height:262px; border-right:1px solid #CCC;}
.class3{float:left; width:240px; height:262px; border-right:1px solid #CCC;}
.class4{float:left; width:240px; height:262px; }
.class5{float:left; width:240px; height:262px; border-right:1px solid #CCC;border-top:1px solid #CCC; padding-top:15px;} 
.class6{float:left; width:240px; height:262px; border-right:1px solid #CCC;border-top:1px solid #CCC; padding-top:15px;} 
.class7{float:left; width:240px; height:262px; border-right:1px solid #CCC;border-top:1px solid #CCC; padding-top:15px;}
.class8{float:left; width:240px; height:262px; border-top:1px solid #CCC;  padding-top:15px;}





/**********************************************更多页面***************************************************/
.morecontent{ width:987px; height:; margin:0 auto;  }
.cenav{ width:215px; background:#eeeeee; border-top: 2px solid #cccccc; float:left;}
.cetitle{width:196px; height:38px; line-height:40px; font:"黑体"; font-weight:bold; font-size:18px; color:#333; text-align:center; border-bottom:2px solid #cccccc; margin:0 auto;}
.cefenlei{ width:195px;margin:0 auto; padding-left:20px; padding-top:10px;}
.cefenleia{ width:195px; height:137px;}
.cefenleiatit{ font-size:16px; color:#616161; font-family:"黑体"; font-weight:bold; height:16px; line-height:16px; padding-top:7px; }
.cefenlei ul{  float:left; }
.cefenlei ul li{width:95px; height:50px; float:left;  line-height:20px; }
.cefenlei ul li a{ text-decoration:none; }
.cefenlei ul li a:hover{ text-decoration:none; color:#999;}
.cefenleihan{padding-top:3px;}
.cefenleieng{padding-bottom:3px;}
.cefenleihan a{ font-size:13px; color:#6e6e6e;}
.cefenleieng a{ font-size:13px; color:#6e6e6e; padding-bottom:3px;}
.cefenleihan a:hover{text-decoration:underline;}
.cefenleieng a:hover{text-decoration:underline;}
.moreright{width:735px;padding-left:30px; float:left;}
.morerightt{width:735px; height:34px;  border-top: 2px solid #F60; background:#e0e0e0; float:left;}
.morerighttil{width:92px; height:34px; float:left; padding-left:2px; padding-right:50px;}
.zizhipic{width:500px; height:28px; float:left; padding-top:6px;}
.moreqiehuan{width:87px; height:23px; padding-top:8px;  float:left;}
.morerighttil p{font-size:18px; font-weight:bold; color:
#bd3d3e; line-height:34px;}
.zizhipic ul li{width:100px; height:20px;  line-height:20px; float:left;}
.zizhipic ul li img{ padding-right:2px;}
.zizhipic ul li span{ font-size:12px; color:#bd3d3e; padding-left:5px;}
.xiangqingcont{width:735px;}
.xiangqingcontl{width:735px; height:50px; padding-top:5px;padding-bottom:5px; float:left; border-bottom:1px #bd3d3e solid;}
.xuhao{ width:15px; float:left; font-size:14px; color:#000;line-height:25px;  height:16px; }
.xiangqingcontla{ float:left; width:650px;}
.xiangqingcontla ul li{width:128px; height:25px;  line-height:25px;  float:left; font:; color:#666;}
.xiangqingcontla ul li span img{ padding-left:5px;}
.jiarudingdanr{width:70px; height:28ppx; padding-top:20px; float:
left;}
.jiarudingdanr ul li{ float:left;}


paginator#body {
	POSITION: relative; MARGIN: 0px auto; WIDTH: 980px; FONT: 100 10px "????"; COLOR: #999999;}
.paginator {
	PADDING-BOTTOM: 10px; MARGIN: 2px; PADDING-LEFT: 0px; PADDING-RIGHT: 20px; FONT: 12px Arial, Helvetica, sans-serif; PADDING-TOP: 10px
}
.paginator A {
	BORDER-BOTTOM: #ddd 1px solid; BORDER-LEFT: #ddd 1px solid; PADDING-BOTTOM: 1px; PADDING-LEFT: 6px; PADDING-RIGHT: 6px; BACKGROUND: #fff; BORDER-TOP: #ddd 1px solid; MARGIN-RIGHT: 2px; BORDER-RIGHT: #ddd 1px solid; TEXT-DECORATION: none; PADDING-TOP: 1px
}
.paginator A:visited {
	BORDER-BOTTOM: #ddd 1px solid; BORDER-LEFT: #ddd 1px solid; PADDING-BOTTOM: 1px; PADDING-LEFT: 6px; PADDING-RIGHT: 6px; BACKGROUND: #fff; BORDER-TOP: #ddd 1px solid; BORDER-RIGHT: #ddd 1px solid; TEXT-DECORATION: none; PADDING-TOP: 1px
}
.paginator .cpb {
	BORDER-BOTTOM: #ffa501 1px solid; BORDER-LEFT: #ffa501 1px solid; PADDING-BOTTOM: 10px; PADDING-LEFT: 0px; PADDING-RIGHT: 20px; FONT-SIZE: 12px; BORDER-TOP: #ffa501 1px solid; FONT-WEIGHT: bold; BORDER-RIGHT: #ffa501 1px solid; PADDING-TOP: 10px
}
.paginator A:hover {
	BORDER-BOTTOM-COLOR: #ffa501; BORDER-TOP-COLOR: #ffa501; BACKGROUND: #ffa501; COLOR: #fff; BORDER-RIGHT-COLOR: #ffa501; BORDER-LEFT-COLOR: #ffa501; TEXT-DECORATION: none
}


.tumorecontent{width:730px; padding-left:5px; padding-top:10px; float:left;}
.tumorecont{width:720px; height:130px; padding-bottom:5px;}
.tumorepic{width:97px; height:130px; float:left;}
.tumorexin{width:485px; height:130px; padding-left:40px; float:left;}
.tumorexin li{ clear:both; height:26px;}





/**********************************************详情页面***************************************************/
.xiangcontent{width:705px; padding-left:30px; padding-top:20px; float:left;}
.xiangpic{width:200px; height:265px; float:left; }
.xiangpicxi{ width:420px; height:265px; padding-left:43px; float:left;}
.xiangjianjie{width:705px; border-top:2px solid #562127; padding-top:20px; float:left;}
.xiangpicxit{width:420px; height:35px;}
.xiangpicxix{ width:420px; height:230px;}
.xiangpicxix ul{ float:left; }
.xiangpicxix ul li{ width:200px; height:28px;}





/**************************************图片分类****************************/
.tufenlei{width:987px;margin:0 auto;}
.tufenlei ul{ text-align:center; float:left; text-align:center;}
.tufenlei ul li{width:140px; height:123px; float:left; text-align:center; padding-left:18px;}
.tuleipic{width:140px; height:93px; text-align:center; }
.tuleiming{ width:140px; height:30px; text-align:center; font-size:13px; color:#666;  font-weight:bold;}
.category {
    width: 470px;
    float: left;
    height: auto;
    overflow: hidden;
    border: 1px solid rgb(226, 226, 226);
    margin-bottom: 10px;
}

#main {
    position: relative;
    width: 960px;
    margin: 0px auto;
}
.tools, .dir {
    position: relative;
    clear: both;
    width: 974px;
    margin: 0px auto;
    text-align: left;
}

element {
    text-align: left;
}


.category_left {
    width: 472px;
    float: left;
    height: auto;
    overflow: hidden;
    margin-right: 10px;
}


element {
    text-align: left;
}



.category {
    width: 470px;
    float: left;
    height: auto;
    overflow: hidden;
    border: 1px solid rgb(226, 226, 226);
    margin-bottom: 10px;
}


.category h4 {
    font-size: 14px;
    font-family: "微软雅黑";
    border-bottom: 1px dotted rgb(185, 185, 185);
    padding-bottom: 5px;
    margin: 10px 10px 0px;
    color: rgb(51, 51, 51);
}


.category dl {
    width: 470px;
    float: left;
    height: auto;
    overflow: hidden;
    position: relative;
}



.category dt {
    width: 100px;
    float: left;
    height: auto;
    overflow: hidden;
    margin: 10px;
}

.category dd {
    width: 310px;
    float: left;
    height: auto;
    overflow: hidden;
    margin-top: 10px;
}





/*********************************************订单中心***************************************************/
.dingdancont{width:705px; padding-left:30px; padding-top:50px; float:left;}
.dingdanneis li{ width:87px; height:25px;float:left; background:#5eabd3; border:1px solid #dedede; font-size:12px; color:#FFF; font-weight:bold; text-align:center;}
.dingdanneis{width:705px;height:25px; }
.dingdannei{width:705px; float:left;}
.dingdannei li{ background:none; border:1px solid #ededed; float:left;}
.dingdannei li span{ width:87px; height:25px;float:left; background: none;  font-size:12px; color:#000;text-align:center;}
.dingdanlx{width:705px;  float:left;}
.dingdanlx ul li{ padding-top:20px; }
.dingdanlx ul li input{  width:500px; height:20px; }
.dingdanlxzi{width:100px; height:20px; float:left;}
.dingdantibt{width:705px; height:30px; padding-top:40px; text-align:center;}


/**********************************************注册页面***************************************************/
.zhucecont{width:970px; height:400px; border:#999 1px solid; margin:auto;}
.zhuceconttop{width:970px; height:50px; background:#ededed; }
.zhuceconttopzi{ font-size:20px; color:#393a3b; font-weight:bold; padding-top:15px; padding-left:12px;width:100px; height:30px; }
.zhucecontli{width:830px; height:270px; margin:0 auto; padding-top:35px;}
.zhucecontliput{width:465px; height:270px; border-right:1px #999 dashed;  float: left;}
.zhucecontliput ul{width:465px; height:270px;}
.zhucecontliinput{ width:310px; height:32px; line-height:32px;}
.zhucecontliputti{ width:132px; height:45px; padding-left:50px;}
.zhucecontlitd{ padding-left:20px;}
.zhucelileft{width:300px; height:270px; float:left; padding-left:60px; }